<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <%-include("./partials/header.ejs")%>
</head>
<body>
      <div class="main" style="display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr;">
       <%-include('./partials/navbar.ejs')%>
       <div class="list">
        <table>
          <thead><tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Picture File Location</th>
          </tr></thead>
          <tbody>
            
            <%for (let i = 0; i<queries.length; i++) {%>
              <tr>
                <td><%=queries[i].id%></td>
                <td><%=queries[i].name%></td>
                <td><%=queries[i].price%></td>
                <td><%=queries[i].PicFileLocation%></td>
              </tr>
              <%}%>
          </tbody>
         </table>
         <div class="burgerList">
          <h1>List of Burgers</h1>
          <ul>
           <li>Barbecue</li>
           <li>Cheesy</li>
           <li>Classic</li>
           <li>Crispy</li>
           <li>Grilled</li>
          </ul>
         </div>
         <div class="truncate">
          <h1>Clear Datas</h1>
          <button id="truncate">Clear </button>
         </div>
       </div>
          
       <div class="main-form">
      <div class="form">
        <h1>Create a Product</h1>
        <input type="text" id="Cname" placeholder="Enter ProductName">
        <input type="text" id="Cprice"  placeholder="Enter ProductPrice">
        <input type="text" id="Cpictureloc"  placeholder="Enter Picture File Location">
        <button id="ins">Create</button>
      </div>
      <div class="form">
        <h1>Update a Product</h1>
        <input type="text" id="Uid"  placeholder="Enter ProductID">
        <input type="text" id="Uname"  placeholder="Enter ProductName">
        <input type="text" id="Uprice"  placeholder="Enter ProductPrice">
        <input type="text" id="Upictureloc"  placeholder="Enter Picture File Location">
        <button id="upd">Update</button>
      </div>
      <div class="form">
        <h1>Delete a Product</h1>
        <input type="text" id="Did" placeholder="Enter ProductID">
        <button id="del">Delete</button>
      </div>
      
      </div>
      <%-include('./partials/footer.ejs')%>
    </div>
    <script src="../static/js/admin.js"></script>
</body>
</html>